.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  margin-bottom: 15px;
}

.App-title {
  font-size: 1.5em;
}

.App {
  text-align: center;
}

.App-intro {
  font-size: large;
}

img {
  width: 100%;
  display: block;
}

.hide {
  opacity: 0;
}

.show {
  animation: fadeIn 2s;
}

.loading-text {
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  position: absolute;
  top: 0;
}
.loading-text p {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin: 0 auto;
  z-index: 99;
}

.image-container {
  margin-bottom: 15px;
  position: relative;
  background: #1e1e1e;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
